body{
    background-color: rgba(15, 31, 59, 0.986);
}
h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:bisque;
}
h2{ 
    font-size: medium;
}
a, li, p{
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

a{
    font-style: italic;
    color: rgb(218, 175, 68);
}